$light-dark: #6d807f;
$light-bright: #aec1bc;
$bright: #cddad1;
$dark: #4f595c;



@mixin button-hover($color){
    &:hover{
        background-color:lighten($color, 10%);
    }
}

@mixin button-click($color){
    &:active{
        background-color:darken($color, 10%);
    }
}

.calculator{
    margin-left: 22%;
    margin-top: 3%;
}

.display-frame{
    background-color: $light-dark;
}

.time, .clear, .operator{
    background-color: $light-bright;
    @include button-hover($light-bright);
    @include button-click($light-bright);
}

.number {
    background-color: $bright;
    @include button-hover($bright);
    @include button-click($bright);
}

.equal{
    background-color: $dark;
    @include button-hover($dark);
    @include button-click($dark);
    color: white;
}


.calculator{
    width:440px;
    height: 480px;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: $dark;
}

.expression-display{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

.display{
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.display-frame{
    width: 100%;
    height: 80px;
    text-align: right;
    padding-right: 5%;
    font-size: 30px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    border-radius: 10px;
    color: white;
}

.clock-icon{
    width: auto;
    height: 50%;
}

.btn{
    text-align: center;
    width:110px;
    height:80px;
    cursor: pointer;
    border-radius: 10px;
}



